/* styles/globals.css */
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --text-color-lightblue: #7eaffe;

  --ff-pretendard: var(--font-pretendard), system-ui, sans-serif;
  --ff-moyamoya: var(--font-moyamoya), var(--font-pretendard), system-ui,
    sans-serif;
  --ff-bitbit: var(--font-bitbit), var(--font-pretendard), system-ui, sans-serif;
}
.font-\[Pretendard\] {
  font-family: var(--ff-pretendard);
}
.font-\[Moyamoya\] {
  font-family: var(--ff-moyamoya);
}
.font-\[BitBit\] {
  font-family: var(--ff-bitbit);
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --point-color: var(--text-color-lightblue);
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --point-color: var(--text-color-lightblue);
}

html {
  height: calc(100% - 64px - 64px);
  scrollbar-width: none;
}

body {
  height: 100%;
}
